.advantages{
    max-height: 472px;
    padding: 69px 0 81px 0;
    background-color: #f6f6f6;
    h2.title {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;}
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 65px;}
    &__item {
        display: flex;
        flex-direction: column;
        max-width: 247px;
        align-items: center;
    
    }
    &__img {
        img {
            
            margin: 0 auto;}
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            
            &:hover {
                animation-play-state:paused;

            }
        }
    }

    &__subtitle {
        padding: 38px 0 26px 0;
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
	    text-align: center;
    }
    a {
        color: #ff0000;
        text-decoration: underline;
        &:hover {
            color: #16c7f3e3;
        }
    }


}
